---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
//import PokemonCard from "../../components/pokemons/PokemonCard.astro";

import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = ( async () => {

const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
const {results} = (await resp.json()) as PokemonListResponse;


return results.map(({name, url}) => {

    const id = url.split('/').at(-2);
    
    return{
        params: {id: id},
        props: {name: name, url: url},
    }
    
});

/* 
return [
    {params: {name: 'bulbasaur'}, props: {name: 'bulbasaur', url: 'https://pokeapi.co/api/v2/pokemon/1/'}},
    {params: {name: 'charmander'}, props: {name: 'bulbasaur', url: 'https://pokeapi.co/api/v2/pokemon/1/'}}
];
*/    

}) satisfies GetStaticPaths;

const {id} = Astro.params;
const {url, name} = Astro.props;
const audiosrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;

---

<MainLayout title="algun pokemon">
    <section class="mt-10 mx-10 flex-col justify-center items-center">
        <div>
            <a href="/">regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>    
        <PokemonCard
            name={name}
            url={url}
            isBig={true}
        />

        <audio controls class="mt-5">
            <source src={audiosrc} type="audio/ogg">
        </audio>
    </section>

</MainLayout>